@import url("fonts.css");
@import url("reset.css");
@import url("daynight.css");
@import url("nav.css");

body {
  font-size: 1.5em;
  line-height: 1.5;
  font-family: "Poppins", "Segoe UI", "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: linear-gradient(
    180deg,
    var(--bodycol1) 20%,
    var(--bodycol2) 40%,
    var(--bodycol3) 60%,
    var(--bodycol4) 80%
  );
}

.wrapper {
  --wrapperbg: var(--ext-link-hov);

  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--wrapperbg);
  color: contrast-color(var(--wrapperbg));
}

.grid-auto-fit {
  --grid-min-col-size: 200px;

  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-min-col-size), 100%), 1fr)
  );
  gap: 1rem;
}

.grid-item {
  background-color: var(--gridbg);
  color: var(--gridtx);
  padding: 1rem;
  border: 1px solid var(--colrule);
  text-align: center;
}
